@import '_config.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


input:active,
input:focus,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
}
textarea {
  resize: none;
}
a, a:focus, a:active {
  outline: none;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
button, button:focus, button:active {
  outline: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
ul {
  padding-left: 25px;
}
ol {
  padding-left: 25px;
}
p {
  margin: 0 0 .5rem 0;
  padding: 0;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.clear-both {
  clear: both;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.position-relative {
  position: relative;
}
.accentcolor {
  color: $accentcolor;
}
.container{
  width: 1300px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  p{
    margin: 0;
    padding: 0;
  }
}




// header
.header {
  .header_top {
    max-width: 100%;
    background-color: #EF7605;
  .header_contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
    .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat';
        font-size: 16px;
        color: white;
      }
      .item_call {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number_fone {
          font-family: 'Montserrat', sans-serif;
          color:black;
          font-size: 24px;
          font-weight: bold;
          margin-right: 80px;
          margin-bottom: 0;
          }
        .btn-call {
          display: flex;
          padding: 0;
          width: 304px;
          height: 50px;
          background-color: #EF7605;
          font-family: 'Montserrat';
          font-size: 25px;
          color: white;
          border: 2px dashed white;
          border-radius: 7px;
          justify-content: space-evenly;
          align-items: center;
          }
        }
      }
    }
  .navigation {
      margin-top: 5px;
      background-color: #1874A0;
      width: 100%;
      height: auto;
    .navbar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      a {
        font-family: 'Montserrat';
        background: #1874A0;
        color: white;
        width: 20%;
        height: 100%;
        text-align: center;
        padding-top: 10px;
      }
      a:hover {
        color: white;
        background: #8CAEC9;
      }  
    }    
  }
  
  
}
.sldr {
  height: 542px; // в этом случае свойство height обязательно
  background: url(/resources/img/slider.png) center no-repeat;
  background-size: cover;

  .sldr::after {

  }
  .sldr::before{
  
  }



}

// home page
.home {
  .kt {
    font-family: 'Montserrat';
    font-size: 24px;
    color: black;
    margin-top: 195px;

  }
  .eq_catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    .eq_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 330px;
      height: 350px;
      p{
        font-family: 'Montserrat';
        text-align: center;
        color: #1874A0;
      }
      
    }
    .vline{
        background-color: #8CAEC9;
        width: 1px;
        height: 400px;
        margin: 0;
        padding: 0;
      }

  }
  .btn_catalog {
    display: block;
    font-family: 'Montserrat';
    background: #EF7605;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 306px;
    height: 70px;
    margin: 0 auto;
    margin-top: 80px;
    
  }
}


// footer
.footer {
  background-color: black;
  height: 150px;

}

// каталог
.catalog {

}

// в наличии
.in-stock {

}

// доработки и сервис
.upgrade-and-service {

}

// услуги
.services {

}

// о компании
.about {

}

// контакты
.contacts {
  
}

// поиск
.search {

}

// видео о компании
.videos {

}

// преимущества
.advantages {

}

// сертификаты
.certificates {

}

// производство
.manufacture {

}

// Спецпредложения
.special-offer {

}

// политика конфиденциальности
.privacy-policy {
  
}


// we use cookie
.we-use-cookie{
  display: block;
  position: fixed;
  width: 600px;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: auto;
  margin-top: 10px;
  
}

.primary-btn{
  border-radius: 5px;

}


// .we-use-cookie-text{
//   width: 600px;
//   border: 1px solid black;
//   border-radius: 50px;
//   padding: 20px;

  
// }







@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .container {
    --bs-gutter-x: 20px;
  }

  .row {
    --bs-gutter-x: 20px;
  }

  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: block;
  }

}

@media only screen and (max-width : 576px) {

}

@media only screen and (max-width : 480px) {
 
}

@media only screen and (max-width : 360px) {

}